* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.drawing-area {
  display: flex;
  position: absolute;
  top: 0;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color:#0088ff;
  width: 100%;
  
  z-index: -1;
  padding: 40px;
  border-radius:40px;
}

.drawing-area .click-instruction {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  pointer-events: none;
  z-index: -10;
  
}
.block {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 5px solid white;
  font: 30px bold;
  border-radius: 50%;
  margin-top: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  z-index: 10;
}
.outline-btn {
  width:150px;
  height: 40px;
  border: 2px solid #0088ff;
  /* border: none; */
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  color: #0088ff;
  padding: 6px 10px;
  box-shadow: 1px 2px 3px 1px #333;
}
.outline-btn:active {
  box-shadow: none;
}
.outline-btn:disabled {
  box-shadow: none;
}
.reset-btn {
  margin-left: 12px;
}
.line {
  height: 5px;
  background-color: lemonchiffon;
  position: absolute;
  transform-origin: top left;
  text-align: center;
  color: #eee;
  line-height: 2rem;
}
.line .edge-weight {
  padding: 0 10px;
  width: max-content;
  margin: auto;
}
header {
  width: 100%;
  padding: 10px;
  background-color: white;
  text-align: center;

}
header .title {
  font-size: 2rem;
  color: #0088ff;
}
header .title a:nth-child(2) {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
}
header .title a {
  text-decoration: none;
  color: #0088ff;
}
a > img {
  width: 100%;
  height: 100%;
}
main h3 {
  padding: 20px;
  font-weight: 1.2rem;
}
main ul > li {
  padding: 0.5rem;
}
.options {
  margin-top: 70px;
  margin-bottom:50px;
  display: flex;
  justify-content: space-around;
  
}
.options input {
  outline: 0;
  padding: 6px;
  width: 100px;
}
.path {
  position: absolute;
  bottom: 60px;
  right: 0;
  height: min-content;
  color: white ;
  overflow-x: scroll;
  width: 40%;
  min-width: 300px;
  background-color: rgba(146, 146, 146, 0.4);
  transition-duration: 1s;
}
.path::-webkit-scrollbar {
  display: none;
}
/* footer {
  background-color: #222;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  position: absolute;
  bottom:  6px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

footer span {
  font-weight: bold;
  font-size: 16px;
} */




.footer {
  position: absolute;
  width: 100%;
  background: #0088ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:1000px;
  z-index:999;
}

.social-icon,
.menufooter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__itemfooter {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__linkfooter {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__linkfooter:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
